//PC
@media (min-width: 1440px) {
    .editorStyle{
        height: 300px;
        width: 700px;
        background: #ffffff;
        display: inline-block;
    }
}


//IPAD
@media (max-width: 768px) {
    .editorStyle{
        height: 300px;
        width: 400px;
        background: #ffffff;
    }
}

.fa-solid{
    color: #ffc107;
}

.list-group{
    cursor: pointer;
}