<!-- <nav class="container">
  <div class="">
    <h5 class="center-align">Email Prueba</h5>
  </div>
</nav>
<div class="">
  <div class="row">
    <div class="col s6">
      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="Editor"><h3>Editor</h3></label>
          <quill-editor [style] = "editor_Style" [modules] = "config" formControlName="editor"></quill-editor>
        </div>
        <button class="waves-effect waves-light btn">Enviar</button>
      </form>
    </div>
    <div class="col s6">
      <h3>Output</h3>
      <p [innerHTML]="mensaje"></p>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Correo</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a class="nav-link btn align-middle px-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-pencil"></i> 
                        <span class="ms-1 d-none d-sm-inline text-white" role="button">Crear correo</span>
                      </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link btn align-middle px-0" (click)="estadoRecibidos()">
                      <i class="fa-solid fa-inbox"></i>
                      <span class="ms-1 d-none d-sm-inline text-white" role="button">Correos recibidos</span>
                    </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link btn align-middle px-0" (click)="estadoEnviados()">
                    <i class="fa-solid fa-paper-plane"></i>
                    <span class="ms-1 d-none d-sm-inline text-white" role="button">Correos enviados</span>
                  </a>
              </li>

              
              </ul>
              <hr>
              <!-- Footer del html -->
              <div class=" pb-4">
                <a class="d-flex align-items-center text-white text-decoration-none "  aria-expanded="false">
                  <div class="rounded-circle border d-flex justify-content-center align-items-center col-3" style="width:50px;height:50px;background-color: black;" alt="Avatar">
                    <i class="fa-solid fa-user"></i>
                  </div>
                  <span class="d-none d-sm-inline mx-1 text-break fs-6 fw-bold">{{cuentaLogueada}}</span>   
                  <!-- TODO: en el span cambiar al correo que esta logueado actualmente -->
                </a>
            </div>
          </div>
      </div>
      

      <!-- Contenido correo -->
      <div class="col py-3">
        <ul class="list-group" *ngIf="flagEnviados == true">
          <li class="list-group-item" *ngFor="let email of emailsEnviados; let i=index">
            <div class="container text-center" (click)="seleccionaCorreo(email)" data-bs-toggle="modal" data-bs-target="#modalCorreo">
              <div class="row">
                <div class="col-md-1 ">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 ">
                  {{email.asunto}}
                </div>

                <div class="col-md-4 ">
                  {{email.para}}
                </div>

                <div class="col-md-2 ">
                  {{email.fecha}}
                </div>
              </div>
            </div>
          </li>
        </ul>

        <ul class="list-group" *ngIf="flagRecibidos == true">
          <li class="list-group-item" *ngFor="let emailRecibido of emailsRecibidos; let i=index">
            <div class="container text-center" (click)="seleccionaCorreo(emailRecibido)" data-bs-toggle="modal" data-bs-target="#modalCorreo">
              <div class="row">
                <div class="col-md-1 ">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="col-md-3 ">
                  {{emailRecibido.asunto}}
                </div>

                <div class="col-md-4 ">
                  {{emailRecibido.para}}
                </div>

                <div class="col-md-2 ">
                  {{emailRecibido.fecha}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>


<!-- Modal correo ver -->
<div class="modal modal-lg fade" id="modalCorreo" tabindex="-1" aria-labelledby="modalCorreo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalCorreo">{{correoActual.asunto}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid text-center">
          <div class="row pb-4">
            <div class="rounded-circle border d-flex justify-content-center align-items-center col-3" style="width:50px;height:50px;background-color: black;" alt="Avatar">
                <i class="fa-solid fa-user fa-2x"></i>
            </div>
            <div class="d-flex justify-content-center align-items-center col-4">
              <div class="container">
                <div class="row row-cols-1 d-flex justify-content-right">
                  <div class="col">
                      <h5>Enviado por:</h5>
                  </div>
                  <div class="col">
                      <b>{{correoActual.enviado_por}}</b>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container border border-dark rounded" [innerHTML]="correoActual.contenido">
            <!-- <p class="text-break"> -->
            <!-- {{correoActual.contenido}} -->
            <!-- </p> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear nuevo correo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid text-center">
          <form [formGroup]="emailForm" class="formCorreo input-group mb-3">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <input type = "email" formControlName="para" placeholder = "Para:" class="form-control"  >
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input type = "text" formControlName="asunto" placeholder = "Asunto"  class="form-control">
                  </div>
                </div>
              </div>

              <div class="row" style="margin-top: 1rem;">
                <div class="form-group">
                  <quill-editor [modules] = "config" formControlName="contenido" class="editorStyle"></quill-editor>
                </div>
              </div>
              <button type="button" class="btn btn-warning " data-bs-dismiss="modal" (click)="onSubmit()">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
