<nav class="container">
  <div class="">
    <h5 class="center-align">Email Prueba</h5>
  </div>
</nav>
<div class="">
  <div class="row">
    <div class="col s6">
      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="Editor"><h3>Editor</h3></label>
          <quill-editor [style] = "editor_Style" [modules] = "config" formControlName="editor"></quill-editor>
        </div>
        <button class="waves-effect waves-light btn">Enviar</button>
      </form>
    </div>
    <div class="col s6">
      <h3>Output</h3>
      <p [innerHTML]="mensaje"></p>
    </div>
  </div>
</div>
